
<div class="project-action-wrapper"> <!--="add Wrapper div Start MB created -->

  <mat-card class="project-action-mat-card">

    <div class="project-action-head-wrap">
      <p mat-dialog-title class="delete-project-head-text" >{{formTitle}}</p>
      <i class="fa fa-close" style="font-size:20px; color:rgb(255, 255, 255)" (click)="close();"></i>
    </div>
    <div class="delete-user-head-wrap">
      <p mat-dialog-title class="delete-user-head-text">Are you sure want to delete ?</p>
    </div>

    <!-- <div mat-dialog-content [formGroup]="deleteForm" class="delete-content-wrap" *ngIf=delete> -->
    <div mat-dialog-content  class="delete-content-wrap" *ngIf=delete>

      <div class="container action-icon-delete">
        <mat-card class="delete-user-mat-card">
          <i class="icon-close" style="font-size:26px; color:black" mat-dialog-close aria-hidden="true"></i>


          <div>
            <div mat-dialog-actions class="delete-user-content-wrap">
              <button mat-button mat-dialog-close class="delete-mat-btn-wrap delete-user-mat-btn-yes" (click)="deleteProject()">YES</button>
              <button mat-button mat-dialog-close class="delete-mat-btn-wrap delete-user-mat-btn-cancel cancle_btn">CANCEL</button>
            </div>
          </div>

        </mat-card>
      </div>
    </div>
  </mat-card>

</div>


