@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import '~ngx-toastr/toastr.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); 
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: Poppins;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

:root{
  --green: #1fb622;
  --black:#253238;
  --light-blue:#dceaff;
  --blue: #407bff;
  --border-blue: #186eef;
  --dark-blue: #081641;
  --red: #dd1747;
  --bg-color:#F5F5F5;
  --white:#ffffff;
  // --ash: #898a96;
}

:root{
  --blue:#407bff;
  --border-blue:#186eef;
  --light-blue:#dceaff;
  --blue1-lite:#407bff80;
  --dark-blue:#081641;
  --black:#253238;
  --bg-blue:#f9fbff;
  --green:#5ac34c;
  --light-green : #8fc088;
  --red:#F41357;
  // --white:#ebf4fb;
}
@font-face {
  font-family: 'lato';
  src: url('assets/font/Poppins-Bold.woff2') format('woff2'),
  url('assets/font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Black.woff2') format('woff2'),
  url('assets/font/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-ExtraBold.woff2') format('woff2'),
  url('assets/font/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Regular.woff2') format('woff2'),
  url('assets/font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Medium.woff2') format('woff2'),
  url('assets/font/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-ExtraLight.woff2') format('woff2'),
  url('assets/font/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Thin.woff2') format('woff2'),
  url('assets/font/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-Light.woff2') format('woff2'),
  url('assets/font/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/font/Poppins-SemiBold.woff2') format('woff2'),
  url('assets/font/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.mat-paginator-page-size-label {
  display: none;
}
.mat-paginator-page-size-value {
  display: none;
}