<div class="add-licence-wrapper">

  <mat-card class="add-licence-mat-card">

    <div class="Create-licence-head-wrap">
      <p mat-dialog-title class="Create-licence-head-text">Edit Licence </p>
      <i class="fa fa-close" style="font-size:20px; color:#ffff; cursor: pointer" (click)="close()"></i>

    </div>

    <div mat-dialog-content [formGroup]="editLicenceForm" class="add-licence-content-wrap">

      <div class="form-group add-licence-form-wrap add-licence-number-wrap">
        <label class="add-licence-label-text">Company Name<span style="color: #dc3545"> *</span></label>
        <input type="text" formControlName="company_name" class="form-control" pattern="\S(.*\S)?" [ngClass]="{'is-invalid':submitted && f.company_name.errors}" />
        <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback">
        </div>
      </div>

      <div class="form-group add-licence-form-wrap add-licence-number-wrap">
        <label class="add-licence-label-text">Limit Of Users<span style="color: #dc3545"> *</span></label>
        <input type="text" formControlName="no_of_user" class="form-control" pattern="\S(.*\S)?" [ngClass]="{'is-invalid':submitted && f.no_of_user.errors}"/>
        <div *ngIf="submitted && f.no_of_user.errors"  class="invalid-feedback">
        </div>
      </div>


      <div *ngIf="!f.isLifeLongLicence.value" class="form-group add-licence-form-wrap add-licence-expire-date-wrap">
        <label class="add-licence-label-text">Expire Date<span style="color: #e61429f6"> *</span></label>
        <div class="add-licence-expire-date-input-wrap">
          <input type="date" formControlName="start_date" class="form-control date-wrap-start"  [ngClass]="{'is-invalid':submitted && f.start_date.errors}"/>
          <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.start_date.errors.date_less_than_or_equal"></div>
          </div>
          <p>to</p>
          <input type="date" formControlName="end_date" class="form-control date-wrap-end" [ngClass]="{'is-invalid':submitted && f.end_date.errors}" />
          <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
            <div *ngIf="submitted && f.end_date.errors.date_less_than_or_equal"></div>
          </div>
        </div>

      </div>

      <div class="form-group add-licence-form-wrap add-licence-lastname-wrap checkbox">
        <label class="add-licence-label-text">Unlimited&nbsp;Access</label>
        <input type="checkbox" formControlName="isLifeLongLicence" class="form-control"/>
      </div>

      <div mat-dialog-actions="" class="mat-dialog-actions add-licence-button-wrap">
        <button mat-button class="mat-focus-indicator mat-button mat-button-base" type="button" (click)="save()">
          <span class="mat-button-wrapper">Save</span>

        </button>
      </div>

    </div>

  </mat-card>

</div>
<!-- Wrapper div End MB created -->
