
<div class="delete-user-wrapper"> <!-- Wrapper div Strat MB created -->
<mat-card class="delete-user-mat-card">
   <i class="fa fa-close close" style="font-size:20px; color:#DD1747" mat-dialog-close aria-hidden="true"></i>
  <div class="delete-user-head-wrap">
  <p mat-dialog-title class="delete-user-head-text">Are you sure want to Delete?</p>
  <!--<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>-->
  </div>

  <div>
    <div mat-dialog-actions class="delete-user-content-wrap">
      <button mat-button mat-dialog-close class="delete-user-mat-btn-wrap delete-user-mat-btn-yes" (click)="delete()">YES</button>
      <button mat-button mat-dialog-close class="delete-user-mat-btn-wrap delete-user-mat-btn-cancle">CANCEL</button>

    </div>
  </div>

</mat-card>

</div> <!-- Wrapper div End MB created -->
