::ng-deep{
  .main {
    // overflow: hidden;
  }
}

@media screen and (min-width: 1981px) {
  .admin-layout-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main{
    width: 1980px;
  }
}
