<div class="create-rept-wrapper">
  <mat-card>
    <mat-card-title class="mat_bg"> {{graphType}}
    </mat-card-title>

    <div class="graph_info">
      
      <div class="plotly-container">
        
        <div class="color-btn-container">

          <button  (click)="changePointsColor(pointDataTypes.data1.color,table3)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data1.color }"></div>  red</button>
          <button  (click)="changePointsColor(pointDataTypes.data2.color,table3)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data2.color }"></div>  blue</button>
          <button  (click)="changePointsColor(pointDataTypes.data3.color,table3)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data3.color }"></div>  green</button>
          <button  (click)="changePointsColor(pointDataTypes.data4.color,table3)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data4.color }"></div>  black</button>
          <button  (click)="changePointsColor(pointDataTypes.data5.color,table3)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data5.color }"></div>  yellow</button>

          <div class="graph-edit-tool-axis-interval">
            <div>
              <input type="number" #x_interval name="price" placeholder="set X-axix interval" min="0" value="0" step="0.005">
              <button (click)="changeXaxisInterval(graph1,x_interval.value)">set X-axis Interval</button>
            </div>          
            <div>
              <input type="number" #Y_interval name="price" placeholder="set Y-axix interval" min="0" value="0" step="0.005">
              <button (click)="changeYaxisInterval(graph1,Y_interval.value)">set X-axis Interval</button>
            </div>
          </div>
        </div>
        <plotly-plot 
        *ngIf="graph1 &&  graph1.data && graph1.layout"
        class="ploty_graph"
        id="graph1"
        [data]="graph1.data"
        [layout]="graph1.layout"
        (selected)="plotlySelect($event,table3)"
        (deselect)="plotlyDeselect(table3)"     
        [config]="graph1.config"  
        (plotlyClick)="plotlyClick($event,table3)"
        (relayout)="plotlyRelayout($event,graph1)"
        >
        </plotly-plot>
        <!-- <div class="graph-edit-tools-container">
          
        </div> -->
      </div >

      <div class="table-align" >

        <div>
          <select class="filter-dropdown" [(ngModel)]="selectedTableTemplateCode" (change)="tableTemplateFilter(table3)">
            <option value="" selected="selected" > filtter off</option>
            <option *ngFor="let option of tableTemplateCodeOption" [value]="option.value">{{option.label}}</option>
          </select>
        </div>



        <!-- <table #myTable1 class="table table-bordered table-responsive-md table-striped text-center" id="table1">

          <tr>
            <th class="text-center">SL.no</th>
            <th class="text-center">A</th>
            <th class="text-center">B</th>
            <th class="text-center">C</th>
            <th class="text-center">D</th>
            <th class="text-center">E</th>
            <th class="text-center">F</th>
            <th class="text-center">G</th>
            <th class="text-center">H</th>
            <th class="text-center">I</th>
            <th class="text-center">J</th>
            <th class="text-center">K</th>
            <th class="text-center">L</th>
          </tr>
          <tbody style="user-select: none;" (mouseleave)="tableBodyMouseLeave($event,table3)" (mousedown)="tableBodyMousedown($event)" (mouseup)="tableBodyMouseup($event,table3)" (mouseover)="tableBodyMouseOver($event,table3)">
            <tr *ngFor="let person of table3; let id = index"> 
              <td>
                <span contenteditable="false">{{id + 1}}</span>
              </td>
    
              <td [ngStyle]="{background:  person.A.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.A.details.visiblity , 'selected_cell' : person.A.details.selected  } ">
                {{person.A.value.x }}
              </td>
              <td [ngStyle]="{ background: person.B.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.B.details.visiblity , 'selected_cell' : person.B.details.selected  } ">
                {{person.B.value.x }}
              </td>
              <td [ngStyle]="{ background: person.C.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.C.details.visiblity , 'selected_cell' : person.C.details.selected  } ">
                {{person.C.value.x }}
              </td>
              <td [ngStyle]="{ background: person.D.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.D.details.visiblity , 'selected_cell' : person.D.details.selected  } ">
                {{person.D.value.x }}
              </td>
              <td [ngStyle]="{ background: person.E.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.E.details.visiblity , 'selected_cell' : person.E.details.selected  } ">
                {{person.E.value.x }}
              </td>
              <td [ngStyle]="{ background: person.F.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.F.details.visiblity , 'selected_cell' : person.F.details.selected  } ">
                {{person.F.value.x }}
              </td>
              <td [ngStyle]="{ background: person.G.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.G.details.visiblity , 'selected_cell' : person.G.details.selected  } ">
                {{person.G.value.x }}
              </td>
              <td [ngStyle]="{ background: person.H.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.H.details.visiblity , 'selected_cell' : person.H.details.selected  } ">
                {{person.H.value.x }}
              </td>
              <td [ngStyle]="{ background: person.I.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.I.details.visiblity , 'selected_cell' : person.I.details.selected  } ">
                {{person.I.value.x }}
              </td>
              <td [ngStyle]="{ background: person.J.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.J.details.visiblity , 'selected_cell' : person.J.details.selected  } ">
                {{person.J.value.x }}
              </td>
              <td [ngStyle]="{ background: person.K.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.K.details.visiblity , 'selected_cell' : person.K.details.selected  } ">
                {{person.K.value.x }}
              </td>
              <td [ngStyle]="{ background: person.L.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.L.details.visiblity , 'selected_cell' : person.L.details.selected  } ">
                {{person.L.value.x }}
              </td>
            </tr>
        </tbody>
        </table> -->
        <table #myTable1 class="table table-bordered table-responsive-md table-striped text-center" id="table1" *ngIf="table3">
          <tr>
            <th class="text-center">SL.no</th>
            <th class="text-center" *ngFor="let cellData of table3[0]; let id = index ; ">{{  id+1 }}</th>
          </tr>
          <tbody style="user-select: none;" (mouseleave)="tableBodyMouseLeave($event,table3)" (mousedown)="tableBodyMousedown($event)" (mouseup)="tableBodyMouseup($event,table3)" (mouseover)="tableBodyMouseOver($event,table3)">
            <tr *ngFor="let person of table3; let id = index"> 
              <td>
                <span contenteditable="true">{{alphabetOrderForNumber[id]}}</span>
              </td>
    
              <td 
              *ngFor="let cellData of person"
              [ngStyle]="{background:  cellData.details.color}"
              [ngClass]="{ 'transparent_cell' : !cellData.details.visiblity , 'selected_cell' : cellData.details.selected  } ">
                {{cellData.value.x }}
              </td>

            </tr>
        </tbody>
        </table>
      </div>

    </div>

    <hr style="width: 100%;margin: 30px 0px;"  >
    
    <div  *ngIf="graphType === 'Graph 2x'"  class="graph_info">

      <div class="plotly-container">
        
        <div class="color-btn-container">

          <button  (click)="changePointsColor(pointDataTypes.data1.color,table4)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data1.color }"></div>  red</button>
          <button  (click)="changePointsColor(pointDataTypes.data2.color,table4)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data2.color }"></div>  blue</button>
          <button  (click)="changePointsColor(pointDataTypes.data3.color,table4)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data3.color }"></div>  green</button>
          <button  (click)="changePointsColor(pointDataTypes.data4.color,table4)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data4.color }"></div>  black</button>
          <button  (click)="changePointsColor(pointDataTypes.data5.color,table4)"> <div class="cirlce" [ngStyle]="{background: pointDataTypes.data5.color }"></div>  yellow</button>
          
          <div class="graph-edit-tool-axis-interval">
            <div>
              <input type="number" #x_interval2 name="price" placeholder="set X-axix interval" min="0" value="0" step="0.005">
              <button (click)="changeXaxisInterval(graph2,x_interval2.value)">set X-axis Interval</button>
            </div>          
            <div>
              <input type="number" #Y_interval2 name="price" placeholder="set Y-axix interval" min="0" value="0" step="0.005">
              <button (click)="changeYaxisInterval(graph2,Y_interval2.value)">set X-axis Interval</button>
            </div>
          </div>

        </div>

        <plotly-plot 
        id="graph2"
        class="ploty_graph"
        *ngIf="graph2 &&  graph2.data && graph2.layout"
        [data]="graph2.data"
        [layout]="graph2.layout"
        (selected)="plotlySelect($event,table4)"
        (deselect)="plotlyDeselect(table4)"     
        [config]="graph2.config"  
        (plotlyClick)="plotlyClick($event,table4)"
        (relayout)="plotlyRelayout($event,graph2)"
        >
        </plotly-plot>
      </div >

      <div class="table-align" >

        <div>
          <select class="filter-dropdown" [(ngModel)]="selectedTableTemplateCode" (change)="tableTemplateFilter(table4)">
            <option value="" selected="selected" > filtter off</option>
            <option *ngFor="let option of tableTemplateCodeOption" [value]="option.value">{{option.label}}</option>
          </select>
        </div>



        <!-- <table #myTable2 class="table table-bordered table-responsive-md table-striped text-center" id="table2" *ngIf="table4">
          <tr>
            <th class="text-center">SL.no</th>
            <th class="text-center">A</th>
            <th class="text-center">B</th>
            <th class="text-center">C</th>
            <th class="text-center">D</th>
            <th class="text-center">E</th>
            <th class="text-center">F</th>
            <th class="text-center">G</th>
            <th class="text-center">H</th>
            <th class="text-center">I</th>
            <th class="text-center">J</th>
            <th class="text-center">K</th>
            <th class="text-center">L</th>
          </tr>
          <tbody style="user-select: none;" (mouseleave)="tableBodyMouseLeave($event,table4)" (mousedown)="tableBodyMousedown($event)" (mouseup)="tableBodyMouseup($event,table4)" (mouseover)="tableBodyMouseOver($event,table4)">
            <tr *ngFor="let person of table4; let id = index"> 
              <td>
                <span contenteditable="false">{{id + 1}}</span>
              </td>
    
              <td [ngStyle]="{background:  person.A.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.A.details.visiblity , 'selected_cell' : person.A.details.selected  } ">
                {{person.A.value.x }}
              </td>
              <td [ngStyle]="{ background: person.B.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.B.details.visiblity , 'selected_cell' : person.B.details.selected  } ">
                {{person.B.value.x }}
              </td>
              <td [ngStyle]="{ background: person.C.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.C.details.visiblity , 'selected_cell' : person.C.details.selected  } ">
                {{person.C.value.x }}
              </td>
              <td [ngStyle]="{ background: person.D.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.D.details.visiblity , 'selected_cell' : person.D.details.selected  } ">
                {{person.D.value.x }}
              </td>
              <td [ngStyle]="{ background: person.E.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.E.details.visiblity , 'selected_cell' : person.E.details.selected  } ">
                {{person.E.value.x }}
              </td>
              <td [ngStyle]="{ background: person.F.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.F.details.visiblity , 'selected_cell' : person.F.details.selected  } ">
                {{person.F.value.x }}
              </td>
              <td [ngStyle]="{ background: person.G.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.G.details.visiblity , 'selected_cell' : person.G.details.selected  } ">
                {{person.G.value.x }}
              </td>
              <td [ngStyle]="{ background: person.H.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.H.details.visiblity , 'selected_cell' : person.H.details.selected  } ">
                {{person.H.value.x }}
              </td>
              <td [ngStyle]="{ background: person.I.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.I.details.visiblity , 'selected_cell' : person.I.details.selected  } ">
                {{person.I.value.x }}
              </td>
              <td [ngStyle]="{ background: person.J.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.J.details.visiblity , 'selected_cell' : person.J.details.selected  } ">
                {{person.J.value.x }}
              </td>
              <td [ngStyle]="{ background: person.K.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.K.details.visiblity , 'selected_cell' : person.K.details.selected  } ">
                {{person.K.value.x }}
              </td>
              <td [ngStyle]="{ background: person.L.details.color}"
              [ngClass]="{ 'transparent_cell' : !person.L.details.visiblity , 'selected_cell' : person.L.details.selected  } ">
                {{person.L.value.x }}
              </td>
            </tr>
        </tbody>
        </table> -->
        <table #myTable2 class="table table-bordered table-responsive-md table-striped text-center" id="table2" *ngIf="table4?.length">
          <tr>
            <th class="text-center">SL.no</th>
            <th class="text-center" *ngFor="let cellData of table4[0]; let id = index ; ">{{  id+1 }}</th>
          </tr>
          <tbody style="user-select: none;" (mouseleave)="tableBodyMouseLeave($event,table4)" (mousedown)="tableBodyMousedown($event)" (mouseup)="tableBodyMouseup($event,table4)" (mouseover)="tableBodyMouseOver($event,table4)">
            <tr *ngFor="let person of table4; let id = index"> 
              <td>
                <span contenteditable="true">{{alphabetOrderForNumber[id]}}</span>
              </td>
    
              <td 
              *ngFor="let cellData of person"
              [ngStyle]="{background:  cellData.details.color}"
              [ngClass]="{ 'transparent_cell' : !cellData.details.visiblity , 'selected_cell' : cellData.details.selected  } ">
                {{cellData.value.x }}
              </td>

            </tr>
        </tbody>
        </table>
      </div>

    </div>


    <div class="create-rep-btn-wrap">
        <div class="file-type-dropdown-container">
          <select class="file-type-dropdown" [(ngModel)]="currentDownloadType">
            <option value="PDF" selected="selected" >PDF</option>
            <option value="CSV">CSV</option>
          </select>
        </div>
        <button class="generate_report_btn" [disabled]="downloadBtnDisable" (click)="downloadReports()"> Download {{currentDownloadType}}</button>
        <button class="close_btn" (click)="backToProjectList()"> close</button>
    </div>
  
  </mat-card>
</div>

